@import url('https://fonts.googleapis.com/css2?family=Play&display=swap'); /* h1 */

h1, h3, h5 {
    font-family: 'Play', sans-serif;
}

/*Mostrar productos*/
.table-responsive {
    background: none;
    border-radius: 25px;
    padding: 1rem 2rem 0rem;

}